on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  id-token: write

name: Release

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Release Please
        uses: googleapis/release-please-action@v4
        id: release
        with:
          release-type: node

      - name: Checkout Code
        uses: actions/checkout@v6
        if: ${{ steps.release.outputs.release_created }}

      - name: Set up Node environment
        uses: actions/setup-node@v4
        if: ${{ steps.release.outputs.release_created }}
        with:
          node-version-file: '.nvmrc'

      - name: Enable Corepack
        run: corepack enable

      - name: Install Dependencies
        if: ${{ steps.release.outputs.release_created }}
        run: yarn install --immutable

      - name: Publish package
        if: ${{ steps.release.outputs.release_created }}
        run: yarn npm publish
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
